.form {
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.form-directions-text-fields {
  display: flex;
  justify-content: center;
}

.form-directions-icons {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.form-button {
  display: flex;
  justify-content: center;
}
